@font-face {
  font-family: "iconfont";
  src: url("/font/game77/iconfont.eot?t=1503501020119"); /* IE9*/
  src: url("/font/game77/iconfont.eot?t=1503501020119#iefix") format('embedded-opentype'),;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  height: 100%;
  background: url("/images/game77/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-right-circle-true:before {
  content: "\e6b4";
}
.icon-left-circle-true:before {
  content: "\e6b7";
}
#garden {
  width: 100%;
  height: 60%;
  position: relative;
}
#pad {
  box-shadow: 0px -2px 5px -2px #ddd;
  border-top: 1px solid #ddd;
  margin-top: 30px;
}
.animal {
  position: absolute;
  width: 30px;
  height: 30px;
}
.arrow {
  position: absolute;
  width: 30px;
}
.button {
  margin-left: 20px;
  font-size: 50px;
  color: #ea3151;
}
.button.hit {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #f71337;
  box-shadow: 0 1px 2px 2px #999;
  margin-left: 6rem;
}
.portrait {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}
#girl {
  left: calc(100% - 25px);
}
#boy {
  left: -25px;
}
.pro-wrapper {
  margin: 2rem auto 0;
  width: 90%;
  position: relative;
  box-sizing: border-box;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  padding: 2px 4px;
}
.pro-inner {
  border-radius: 2px;
  background-color: #f70675;
  height: 100%;
  width: 0;
}
.bow-wrapper {
  position: relative;
  height: 30px;
}
.bow {
  position: absolute;
  width: 30px;
}
.footer {
  padding: 10px;
}
.red-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.rotate {
  animation: rotate 2s linear 1, op 2s linear 1;
}
.red-button {
  width: 100px;
  height: 100px;
  background-color: #f00;
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
}
.seconds {
  text-align: center;
  font-size: 40px;
  color: rgba(255,30,67,0.7);
  background-color: transparent;
  position: absolute;
  width: 100%;
}
.gif {
  position: fixed;
  top: 10%;
  width: 100px;
  transition: transform 0.5s;
}
.gif.praise {
  left: -100px;
}
.gif.punish {
  right: -100px;
}
#map {
  background: url("/images/game77/map.jpeg");
  background-size: cover;
}
#map img {
  width: 60px;
  position: absolute;
  top: 30%;
  left: 45%;
  transition: transform 2s;
}
#map img.move {
  transform: translate(-10px, 500%);
}
#res {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: contain;
  background-color: #fff;
}
#res-container {
  width: 200%;
  height: 100%;
  font-size: 0;
  transition: transform 1s;
  position: relative;
}
#res-container .mask {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 50%;
  vertical-align: top;
}
.kiss-outer {
  width: 100%;
  height: 100%;
  background-image: url("/images/game77/flower.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.kiss-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.single-kiss-container {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.single-kiss {
  width: 100%;
  animation-name: myscale;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
@-moz-keyframes rotate {
  from {
    transform: rotateZ(0) scale(1);
  }
  to {
    transform: rotateZ(360deg) scale(3);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotateZ(0) scale(1);
  }
  to {
    transform: rotateZ(360deg) scale(3);
  }
}
@-o-keyframes rotate {
  from {
    transform: rotateZ(0) scale(1);
  }
  to {
    transform: rotateZ(360deg) scale(3);
  }
}
@keyframes rotate {
  from {
    transform: rotateZ(0) scale(1);
  }
  to {
    transform: rotateZ(360deg) scale(3);
  }
}
@-moz-keyframes op {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes op {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes op {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes op {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes myscale {
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes myscale {
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@-o-keyframes myscale {
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes myscale {
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
