.resume {
  width: 100% !important;
  background: url("/img/resume/soft_wallpaper.png") repeat;
  padding-top: 60px;
  min-width: 320px;
/*加粗*/
/*清浮动*/
/*中英文切换*/
/*小于1560 没有前面的图标*/
/*社交链接*/
/*技能*/
/*工作经历 教育经历*/
}
.resume .bold {
  font-weight: bolder;
}
.resume ul {
  list-style: none;
}
.resume .clear {
  clear: both;
}
.resume #lang {
  position: absolute;
  top: 0;
  right: 0;
}
.resume #lang li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
.resume #lang.active {
  font-weight: bolder;
}
.resume #lang:hover {
  cursor: pointer;
}
.resume .wrapper {
/*小于568*/
  margin: 0px auto 30px;
  padding: 5%;
  width: 80%;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  position: relative;
}
@media mini {
  .resume .wrapper {
    width: 700px;
  }
}
@media desktop {
  .resume h2.sectionHead:before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: -105px;
    top: -15px;
    background-image: url("/img/resume/icons.png");
  }
}
.resume h2.sectionHead {
  clear: both;
  font: bold 20px/12px 'Microsoft YaHei', sans-serif;
  margin: 3rem -10%;
  border-left: 3.8rem solid #444;
  color: #444;
  padding: 1px 0 0 8px;
  letter-spacing: -2px;
  text-transform: uppercase;
  position: relative;
}
@media mini {
  .resume h2.sectionHead {
    margin: 60px -80px;
  }
}
@media mini {
  .resume h2#titleName {
    margin: 20px -80px 10px;
  }
}
.resume h2#titleName:before {
  background-position: -90px bottom;
}
.resume h2#tools:before {
  background-position: left top;
}
.resume h2#clock:before {
  background-position: -45px top;
}
.resume h2#learn:before {
  background-position: right top;
}
.resume h2#ribbon:before {
  background-position: left -45px;
}
.resume #bio {
  position: relative;
}
.resume #bio p {
  clear: left;
  margin: 40px auto;
  padding: 5% 7%;
  max-width: 560px;
  background: #fbfbfb;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  position: relative;
  border-width: 0 1px 1px;
  border-color: #fff #f3f3f3 #e8e8e8;
  line-height: 1.6em;
/*大于568px*/
}
@media phone {
  .resume #bio p {
    padding: 40px 45px;
  }
}
.resume #socialIcons {
  width: 50%;
  height: 30px;
  position: absolute;
  top: -35px;
  right: 0;
  text-align: right;
}
.resume #socialIcons .socialIcon {
  width: 30px;
  height: 30px;
  margin: 0 0 0 3px;
  display: inline-block;
  border: none;
  background-size: contain !important;
}
.resume #socialIcons #githubIcon {
  background: url("/img/resume/github-40.png") no-repeat center;
}
.resume #socialIcons #blogIcon {
  background: url("/img/resume/blog-40.png") no-repeat center;
}
.resume #socialIcons #dataguruIcon {
  background: url("/img/resume/dataguru-40.png") no-repeat center;
}
.resume ul#skills {
  margin: 0;
  width: 100%;
  overflow: hidden;
  background: url("/img/resume/loading.gif") no-repeat center 30%;
}
.resume ul#skills.ready {
  background: none;
}
.resume ul#skills li {
  position: relative;
  right: 100%;
  background-color: #444;
  color: #fff;
  font: bold 9px/20px sans-serif;
  letter-spacing: 1px;
  margin-bottom: 3px;
  padding: 3px 0 0 0;
  text-transform: uppercase;
  z-index: 1;
  height: 26px;
  margin-top: 26px;
/*大于768px*/
}
@media mini {
  .resume ul#skills li {
    margin-top: 0;
  }
}
.resume ul#skills li .skill-name {
  position: absolute;
  top: -26px;
  color: #444;
  margin-left: 0;
  width: 200px;
/*大于768px*/
}
@media mini {
  .resume ul#skills li .skill-name {
    position: static;
    color: #fff;
    margin-left: 5px;
    height: 100%;
    line-height: 100%;
    width: auto;
  }
}
.resume ul#skills li .score {
  position: absolute;
  top: 0;
  right: 5px;
  line-height: 26px;
  width: 50px;
  text-align: right;
  color: #aaa;
}
.resume .two-col {
  margin: 0;
  position: relative;
}
.resume .two-col li {
  margin: 0 0 20px 0;
  clear: both;
  font-size: 13px;
}
.resume .two-col li .details {
  float: left;
  width: 40%;
}
.resume .two-col li p {
  width: 40%;
  float: left;
  margin-left: 5%;
  display: block;
  text-align: justify;
}
.resume .two-col li:after {
  clear: both;
  content: '';
  height: 1px;
  width: 1px;
  display: block;
}
.resume #honorsAwards {
  padding: 0 5%;
  list-style-type: disc;
  font-size: 13px;
}
.resume .project-content {
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.resume .project-content .project-name {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}
.resume .project-content .img-box {
  width: 100%;
  border: 1px solid #bbb;
  background-size: contain !important;
  height: 200px;
}
@media phone {
  .resume .project-content .img-box {
    height: 200px;
  }
}
@media mini {
  .resume .project-content .img-box {
    height: 200px;
  }
}
@media tablet {
  .resume .project-content .img-box {
    height: 250px;
  }
}
@media desktop {
  .resume .project-content .img-box {
    height: 300px;
  }
}
.resume .project-content .project-item {
  border-radius: 2px;
  margin-top: 1rem;
  width: 100%;
}
@media phone {
  .resume .project-content .project-item {
    width: 80%;
  }
}
@media mini {
  .resume .project-content .project-item {
    width: 45%;
  }
}
@media tablet {
  .resume .project-content .project-item {
    width: 45%;
  }
}
@media desktop {
  .resume .project-content .project-item {
    width: 30%;
  }
}
