#vue-float {
  padding: 20px 30px;
  text-align: center;
}
#vue-float h1 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
#vue-float #feedback {
  margin-bottom: 20px;
  font-size: 12px;
  font-style: italic;
}
#vue-float #input {
  line-height: 1;
  padding: 10px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #757575;
}
#vue-float #start {
  line-height: 1;
  padding: 10px;
  background-color: #0052cc;
  color: #fff;
  border: none;
  border-radius: 2px;
  margin-bottom: 20px;
}
#vue-float #start:hover {
  background-color: #0065ff;
}
#vue-float h2 {
  text-align: left;
}
#vue-float td {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
#vue-float #bits {
  font-size: 0;
}
#vue-float #bits span {
  font-size: 12px;
  display: inline-block;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  background-color: #417ad2;
  border-right: 1px solid #fff;
}
#vue-float #bits .sign {
  background-color: #ff744c;
}
#vue-float #bits .e {
  background-color: #2bb31a;
}
