#vue-date-range-page {
  background: linear-gradient(to bottom right, #00ebcb, #dafffa) !important;
  background-color: transparent !important;
  padding-bottom: 50px;
}
#vue-date-range-page .container {
  max-width: 1024px !important;
  background-color: #fff;
  padding: 0 0.5rem;
  background-color: #fff;
  margin-top: 1rem;
/*box-shadow: ;*/
}
#vue-date-range-page a {
  border-bottom: none;
}
#vue-date-range-page img {
  display: inline;
}
#vue-date-range-page .date-container,
#vue-date-range-page .selected-container {
  margin: 1rem auto;
  padding: 0 !important;
  min-width: 300px;
  max-width: 400px !important;
}
#vue-date-range-page .demo-page {
  min-height: 100vh;
  padding: 0 0.5rem;
}
#vue-date-range-page .column {
  padding-top: 0;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  #vue-date-range-page .control:not(:last-child) {
    margin-bottom: 0.2rem;
  }
  #vue-date-range-page .is-full {
    flex: 1;
  }
  #vue-date-range-page .is-horizontal {
    display: flex;
    align-items: center;
  }
  #vue-date-range-page .label {
    margin-right: 1rem;
  }
}
#vue-date-range-page .date-picker {
  position: relative;
}
#vue-date-range-page .calendar-wrapper {
  border: 1px solid #bbb;
  position: absolute;
  min-width: 300px;
  max-width: 400px;
  z-index: 999;
}
#vue-date-range-page .calendar-wrapper .v-date-calendar {
  height: 400px;
}
@media all and (max-width: 375px) {
  #vue-date-range-page .calendar-wrapper {
    width: 120%;
    max-width: 120%;
    left: 50%;
    transform: translateX(-50%);
  }
}
#vue-date-range-page .mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
}
